*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: #24272E;
    color: white;
}

header{
    background: white;
    padding: 20px;
}
header > h1{
    color: #24272E;
    text-align: center;
    font-family: Asap, sans-serif;
}


.score-board{
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    width:200px;
    margin:20px auto;
    font-size: 46px;
    position: relative;
}

.badge{
    background-color:#E2584D; 
    font-size: 12px;
    padding: 2px 10px;
}
#user-label{
    position: absolute;
    top:30px;
    left: -25px;
}
#comp-label{
    position: absolute;
    top:30px;
    right: -25px;
}

.result{
    font-size: 40px;
}

.result > p {
    text-align: center;
    font-weight: bold;
}
.choices{
    margin-top:50px;
    text-align: center;
    width:100%;
}
.choice{
    display: inline-block;
    padding: 10px;
    width:30%;
}
img{
    width:30%;
    transition: all 0.3s ease;
}


img:hover{
    width:35%;
    padding:0%;
}

#action-message{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}